// Roboto-Regular 400
@font-face {
  font-family: 'Roboto-Regular', sans-serif;
  src: url(../fonts/Roboto-Regular.woff2) format ('woff2'),
    url(../fonts/Roboto-Regular.woff) format ('woff');
  font-weight: 400;
  font-display: swap;
}

// Roboto-Medium 500
@font-face {
  font-family: 'Roboto-Medium', sans-serif;
  src: url(../fonts/Roboto-Medium.woff2) format ('woff2'),
    url(../fonts/Roboto-Medium.woff) format ('woff');
  font-weight: 500;
  font-display: swap;
}

// Roboto-Bold 700
@font-face {
  font-family: 'Roboto-Bold', sans-serif;
  src: url(../fonts/Roboto-Bold.woff2) format ('woff2'),
    url(../fonts/Roboto-Bold.woff) format ('woff');
  font-weight: 700;
  font-display: swap;
}

// Lato-Semibold 600
@font-face {
  font-family: 'Lato-Semibold', sans-serif;
  src: url(../fonts/Lato-Semibold.woff2) format ('woff2'),
    url(../fonts/Lato-Semibold.woff) format ('woff');
  font-weight: 600;
  font-display: swap;
}

// Raleway-Bold 700
@font-face {
  font-family: 'Raleway-Bold', sans-serif;
  src: url(../fonts/Raleway-Bold.woff2) format ('woff2'),
    url(../fonts/Raleway-Bold.woff) format ('woff');
  font-weight: 700;
  font-display: swap;
}

// Mariadpro-Regular 400
@font-face {
  font-family: 'Myriadpro-Regular', sans-serif;
  src: url(../fonts/Myriadpro-Regular.woff2) format ('woff2'),
    url(../fonts/Myriadpro-Regular.woff) format ('woff');
  font-weight: 400;
  font-display: swap;
}

// Icomoon fonts
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?564rwx');
  src:  url('../fonts/icomoon.eot?564rwx#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?564rwx') format('truetype'),
    url('../fonts/icomoon.woff?564rwx') format('woff'),
    url('../fonts/icomoon.svg?564rwx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//Звездочка для сносок
.icon-asterisk:before {
  content: "\f069";
}

//Лупа
.icon-search:before {
  content: "\f002";
}

//Конверт
.icon-envelope-o:before {
  content: "\f003";
}

//Пользователь
.icon-user:before {
  content: "\f007";
}

//Меню-сетка на 4
.icon-th-large:before {
  content: "\f009";
}

//Меню-сетка на 6
.icon-th-list:before {
  content: "\f00b";
}

//Закрыть
.icon-close:before {
  content: "\f00d";
}

//Замок
.icon-lock:before {
  content: "\f023";
}

//Маркер карты
.icon-map-marker:before {
  content: "\f041";
}

//Блокнот
.icon-edit:before {
  content: "\f044";
}

//Корзина для покупок
.icon-shopping-cart:before {
  content: "\f07a";
}

//Сердце
.icon-heart-o:before {
  content: "\f08a";
}

// Телефон
.icon-phone:before {
  content: "\f095";
}

// twitter
.icon-twitter:before {
  content: "\f099";
}

// facebook
.icon-facebook:before {
  content: "\f09a";
}

// Колокольчик
.icon-bell-o:before {
  content: "\f0a2";
}

// Группа пользователей
.icon-group:before {
  content: "\f0c0";
}
.icon-users:before {
  content: "\f0c0";
}
.icon-sort:before {
  content: "\f0dc";
}
.icon-unsorted:before {
  content: "\f0dc";
}
.icon-sort-desc:before {
  content: "\f0dd";
}
.icon-sort-down:before {
  content: "\f0dd";
}
// linkedin
.icon-linkedin:before {
  content: "\f0e1";
}

// Одно сообщение
.icon-comment-o:before {
  content: "\f0e5";
}

// Несколько сообщений
.icon-comments-o:before {
  content: "\f0e6";
}
// молния
.icon-bolt:before {
  content: "\f0e7";
}
// портфель
.icon-suitcase:before {
  content: "\f0f2";
}
// Стрелка вправо
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-circle-o:before {
  content: "\f10c";
}
.icon-circle:before {
  content: "\f111";
}
.icon-mail-reply:before {
  content: "\f112";
}
.icon-reply:before {
  content: "\f112";
}
// смайл
.icon-meh-o:before {
  content: "\f11a";
}
.icon-location-arrow:before {
  content: "\f124";
}
.icon-cny:before {
  content: "\f157";
}
.icon-jpy:before {
  content: "\f157";
}
.icon-rmb:before {
  content: "\f157";
}
// йены
.icon-yen:before {
  content: "\f157";
}
.icon-sort-amount-desc:before {
  content: "\f161";
}
.icon-youtube-play:before {
  content: "\f16a";
}
.icon-foursquare:before {
  content: "\f180";
}

// Листик
.icon-pagelines:before {
  content: "\f18c";
}
.icon-pinterest-p:before {
  content: "\f231";
}
