a {
  color: $color-text;
}

// Контейнер на ширину в 1200px
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

// Контейнер на всю ширину экрана
.container-fluid {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

body {
  @include font-roboto-reg;
  font-size: 15px;
  line-height: 24px;
  color: $color-text;
}

.title {
  @include font-roboto-bold;
  color: $color-bg-black;
  font-size: 36px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 30px;
}

.rate-star {
  display: inline-block;
  margin-right: 13px;
}